<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Melchior Prugniaud</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="icon"  href="static/images/favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="static/css/flexslider.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/css/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="static/css/style.css">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div id="colorlib-page">
		<div class="container-wrap">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
			<div class="text-center">
				<div class="author-img" style="background-image: url(static/images/about.jpg);"></div>
				<h1 id="colorlib-logo"><a href="/">Melchior Prugniaud</a></h1>
				<span class="position"><a href="https://www.linkedin.com/in/melchior-prugniaud/" target="_blank">Data Scientist</a> à Paris</span>
			</div>
			<nav id="colorlib-main-menu" role="navigation" class="navbar">
				<div id="navbar" class="collapse">
					<ul>
						<li class="active"><a href="#" data-nav-section="home">Accueil</a></li>
						<li><a href="#" data-nav-section="about">à PROPOS</a></li>
						<!-- <li><a href="#" data-nav-section="services">Services</a></li> -->
						<li><a href="#" data-nav-section="skills">compétences</a></li>
						<li><a href="#" data-nav-section="education">éducation</a></li>
						<li><a href="#" data-nav-section="experience">Expérience</a></li>
						<li><a href="#" data-nav-section="work">Portfolio</a></li>
						<!-- <li><a href="#" data-nav-section="blog">Blog</a></li> -->
						<li><a href="#" data-nav-section="contact">Contact</a></li>
					</ul>
				</div>
			</nav>

			<div class="colorlib-footer">

				<ul>
					<li><a href="#"><i class="icon-facebook2"></i></a></li>
					<li><a href="#"><i class="icon-twitter2"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
					<li><a href="#"><i class="icon-linkedin2"></i></a></li>
				</ul>
			</div>

		</aside>

		<div id="colorlib-main">
			<section id="colorlib-hero" class="js-fullheight" data-section="home">
				<div class="flexslider js-fullheight">
					<ul class="slides">
				   	<li style="background-image: url(static/images/img_bg_1.jpg);">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
					   				<div class="slider-text-inner js-fullheight">
					   					<div class="desc">
						   					<h1>Melchior<br>Prugniaud</h1>
						   					<h2 style="font-weight: 500;" >Data scientist / Python developper</h2>
												<p><a target="_blank" href="static/CV_melchior.pdf" class="btn btn-primary btn-learn" style="font-weight: 500;">Mon CV <i class="icon-download4"></i></a></p>
											</div>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				   	<li style="background-image: url(static/images/img_bg_2.jpg);">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
					   				<div class="slider-text-inner">
					   					<div class="desc">
						   					<h1>Mes <br>réalisations</h1>
												<h2 style="font-weight: 500;">Aperçu des projets, tâches que j'ai effectué</h2>
												<p><a href="#portfolio" class="btn btn-primary btn-learn" style="font-weight: 500;">Mon Portfolio<i class="icon-briefcase3"></i></a></p>
											</div>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				  	</ul>
			  	</div>
			</section>

			<section class="colorlib-about" data-section="about">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-12">
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="about-desc">
										<span class="heading-meta">A propos</span>
										<h2 class="colorlib-heading">Qui suis-je?</h2>
										<p><strong>Bonjour, </strong> je suis Melchior Prugniaud, 25 ans et jeune diplomé sortant de l'ENSAE Paris Tech (mastère Data Science) après un 
											master Ingénierie Statistique Financière à l'université Panthéon-Assas. Passionné par l'univers numérique depuis tout jeune, j'ai décidé de m'orienter vers la data science pour 
											pouvoir manipuler les données à l'aide d'algorithme dans le but de faciliter la prise de décision pour les utilisateurs.
										</p>
										<p>En dehors du travail, j'ai différents passe-temps. En effet, je suis une personne pratiquant du sport depuis mon enfance et notamment le handball depuis plus de 15 ans. De plus, j'aime pratiquer la photographie.
											Enfin, à travers plusieurs expériences, j'ai pu découvrir l'univers de la gastronomie professionnelles à travers des acteurs exigeant du marché comme Fauchon, Hédiard ou la Grande Epicerie de Paris.  </p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
									<div class="services color-1">
										<span class="icon2" style ="text-align: center;"><i class="icon-chart-line"></i></span>
										<h3 style ="text-align: center;">Analyse</h3>
									</div>
								</div>
								<div class="col-md-4 animate-box" data-animate-effect="fadeInRight">
									<div class="services color-2">
										<span class="icon2" style ="text-align: center;"><i class="icon-lab2"></i></span>
										<h3 style ="text-align: center;">Data science</h3>
									</div>
								</div>
								<div class="col-md-4 animate-box" data-animate-effect="fadeInTop">
									<div class="services color-3">
										<span class="icon2" style ="text-align: center;"><i class="icon-cog2"></i></span>
										<h3 style ="text-align: center;">Développement</h3>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
									<div class="hire">
										<h2>Je suis fier de vous montrer mes différentes réalisations !</h2>
										<a href="#portfolio" class="btn-hire">Jetez un coup d'oeil</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			
			<!-- <section class="colorlib-services" data-section="services">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Qualités</span>
							<h2 class="colorlib-heading">Quelques uns de mes points forts</h2>
						</div>
					</div>
					<div class="row row-pt-md">
						<div class="col-md-4 text-center animate-box">
							<div class="services color-1">
								<span class="icon">
									<i class="icon-bulb"></i>
								</span>
								<div class="desc">
									<h3>Curieux</h3>
									<p>J'aime découvrir de nouveaux horizons et tenter de les 
										ajouter à mon panel de compétences.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center animate-box">
							<div class="services color-2">
								<span class="icon">
									<i class="icon-data"></i>
								</span>
								<div class="desc">
									<h3>Autonome</h3>
									<p>
										Je suis capable de travailler de mon côté de manière autonome tout en 
										sachant lorsqu'il le faut travailler en équipe.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center animate-box">
							<div class="services color-3">
								<span class="icon">
									<i class="icon-phone3"></i>
								</span>
								<div class="desc">
									<h3>Application</h3>
									<p>
										Capable de fournir des délivrables simple d'utilisation pour les usagers.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center animate-box">
							<div class="services color-4">
								<span class="icon">
									<i class="icon-layers2"></i>
								</span>
								<div class="desc">
									<h3>Graphic Design</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center animate-box">
							<div class="services color-5">
								<span class="icon">
									<i class="icon-data"></i>
								</span>
								<div class="desc">
									<h3>Software</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center animate-box">
							<div class="services color-6">
								<span class="icon">
									<i class="icon-phone3"></i>
								</span>
								<div class="desc">
									<h3>Application</h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> -->
<!-- 	A ajouter après premières missions		
			<div id="colorlib-counter" class="colorlib-counters" style="background-image: url(images/cover_bg_1.jpg);" data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="colorlib-narrow-content">
					<div class="row">
					</div>
					<div class="row">
						<div class="col-md-3 text-center animate-box">
							<span class="colorlib-counter js-counter" data-from="0" data-to="309" data-speed="5000" data-refresh-interval="50"></span>
							<span class="colorlib-counter-label">Cups of coffee</span>
						</div>
						<div class="col-md-3 text-center animate-box">
							<span class="colorlib-counter js-counter" data-from="0" data-to="356" data-speed="5000" data-refresh-interval="50"></span>
							<span class="colorlib-counter-label">Projects</span>
						</div>
						<div class="col-md-3 text-center animate-box">
							<span class="colorlib-counter js-counter" data-from="0" data-to="30" data-speed="5000" data-refresh-interval="50"></span>
							<span class="colorlib-counter-label">Clients</span>
						</div>
						<div class="col-md-3 text-center animate-box">
							<span class="colorlib-counter js-counter" data-from="0" data-to="10" data-speed="5000" data-refresh-interval="50"></span>
							<span class="colorlib-counter-label">Partners</span>
						</div>
					</div>
				</div>
			</div> -->

			<section class="colorlib-skills" data-section="skills">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">compétences</span>
							<h2 class="colorlib-heading animate-box">Mes compétences</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
							<p>
								Voici un aperçu de mes compétences mise à votre disposition. Aimant apprendre, elles ne sont pas figés et je suis toujours partant pour des missions permetttant de découvrir de nouveaux horizons.
							</p>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Python</h3>
								<div class="progress">
								 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="75"
								  	aria-valuemin="0" aria-valuemax="100" style="width:75%">
								    <span>75%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>Html/Css/JavaScript</h3>
								<div class="progress">
								 	<div class="progress-bar color-2" role="progressbar" aria-valuenow="60"
								  	aria-valuemin="0" aria-valuemax="100" style="width:60%">
								    <span>60%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Scraping</h3>
								<div class="progress">
								 	<div class="progress-bar color-3" role="progressbar" aria-valuenow="70"
								  	aria-valuemin="0" aria-valuemax="100" style="width:70%">
								    <span>70%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>C/C++</h3>
								<div class="progress">
								 	<div class="progress-bar color-4" role="progressbar" aria-valuenow="50"
								  	aria-valuemin="0" aria-valuemax="100" style="width:50%">
								    <span>50%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Dashboard (Flask, Dash)</h3>
								<div class="progress">
								 	<div class="progress-bar color-5" role="progressbar" aria-valuenow="70"
								  	aria-valuemin="0" aria-valuemax="100" style="width:70%">
								    <span>70%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>Machine learning (scikit-learn)</h3>
								<div class="progress">
								 	<div class="progress-bar color-6" role="progressbar" aria-valuenow="75"
								  	aria-valuemin="0" aria-valuemax="100" style="width:75%">
								    <span>75%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>DL (tensorflow, keras)</h3>
								<div class="progress">
								 	<div class="progress-bar color-6" role="progressbar" aria-valuenow="55"
								  	aria-valuemin="0" aria-valuemax="100" style="width:55%">
								    <span>55%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>BDD (MongoDB, PostgreSQL)</h3>
								<div class="progress">
								 	<div class="progress-bar color-6" role="progressbar" aria-valuenow="65"
								  	aria-valuemin="0" aria-valuemax="100" style="width:65%">
								    <span>65%</span>
								  	</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-education" data-section="education">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Parcours académique</span>
							<h2 class="colorlib-heading animate-box">Parcours académique</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
							<div class="fancy-collapse-panel">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingOne">
									        <h4 class="panel-title">
									            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													2019 - 2020 |
													Mastère Spécialisé Data Science
												- <span> ENSAE Paris Tech</span>
												</a>
									        </h4>
									    </div>
									    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									         <div class="panel-body">
									            <div class="row">
										      		<p>
														Mastère spécialisé permettant d'acquérir un profil technique en analyse statistique et gestion des données massives. La formation reposait sur deux pilliers :
													</p>
													<ul>
														<li>Théorique : Apprentissage statistique, Statistique bayésienne, réseau de neurones, Natural Langage Processing...</li>
														<li>Technologique/logiciel : Outil de gestion de bases de données (NoSQL,SQL), données distribuées (SPARK), programmation GPU...</li>
													</ul>
												</div>
												<p>L'ensemble de ces compétences ont été développés à travers des projets réalisés durant l'année.</p>  
									         </div>
									    </div>
									</div>
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingTwo">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												2017 - 2019 |
												Master Ingénierie Statistique Financière
												- Université Panthéon-Assas
									            </a>
									        </h4>
									    </div>
									    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									        <div class="panel-body">
									            <p>
													Formation proposé en alternance, elle est essentiellement tourné vers les domaines de la finance et de l'assurance, elle permet d'apprendre à maitriser l'analyse quantitative
													des données économiques et s'articule sur un triple compétences : 
													<ul>
														<li>Statisticien économètre : Séries temporelles, calcul stochastique, Modèle de durée ...</li>
														<li>Informaticien : SAS, VBA, C/C++/C#, SQL, Python ...</li>
														<li>Economiste : Théorie du portefeuille, Econométrie des marchés financiers, Econmie expérimentale...</li>
													</ul>
												</p>
									        </div>
									    </div>
									</div>
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingThree">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												2014 - 2017 |	
												Licence Economie-Gestion
												- Université Panthéon-Assas
									            </a>
									        </h4>
									    </div>
									    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									        <div class="panel-body">
												<p>
													Licence avec un parcours orienté analyse économique renforçant la formation initiale en mathématique, informatique et économie. 
												</p>
												<div class="col-md-4 col-sm-12">
													<ul>
														<li>
															Mathématiques
														</li>
														<li>
															Statistiques
														</li>
														<li>
															Econométrie
														</li>
													</ul>
												</div>	
												<div class="col-md-4 col-sm-12">
													<ul>
														<li>
															Micro-économie
														</li>
														<li>
															Macro-économie
														</li>
														<li>
															Programmation VBA
														</li>
													</ul>
												</div>		
												<div class="col-md-4 col-sm-12">
													<ul>
														<li>
															Analyse des données
														</li>
														<li>
															Macro-économie
														</li>
														<li>
															...
														</li>
													</ul>
												</div>		
							        		</div>
									    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="colorlib-experience" data-section="experience">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Expérience</span>
							<h2 class="colorlib-heading animate-box">Expériences professionnelles</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
				         <div class="timeline-centered">
					         <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">

					               <div class="timeline-icon color-1">
					                  <i class="icon-pen2"></i>
					               </div>

					               <div class="timeline-label">
					                  <h2><a href="#">Data Analyst</a> <span>Sept. 2017-Sept. 2019</span></h2>
					                  <p>Alternance réalisé au sein de la direction épargne retraite et entreprise d'AXA France. Ensemble de travaux réalisés autour de la 
										  déshérence :
									  </p>
									  <div class="row">
										  <div class="col-md-6 col-sm-12">
											<ul>
												<li>Automatisation de reporting/process à l'aide de VBA</li>
												<li>Optimisation des méthodes de détection des nouveaux décès</li>
											</ul>
										  </div>
										  <div class="col-md-6 col-sm-12">
											<ul>
												<li>Administration du workflow de la déshérence</li>
												<li>Analyse du portefeuille de la retraite collective</li>
											</ul>
										  </div>
									  </div>
									  
					               </div>
					            </div>
					         </article>


					         <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-2">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2><a href="#">Saisonnier</a> <span>Eté 2015 & été 2016</span></h2>
					                  <p>Vente et accueil des clients dans des cadres d'exception : Fauchon et La Grande Epicerie de Paris.</p>
					               </div>
					            </div>
					         </article>

					         <!-- <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-3">
					                  <i class="icon-pen2"></i>
					               </div>
					               <div class="timeline-label">
					               	<h2><a href="#">System Analyst</a> <span>2017-2018</span></h2>
					                  <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
					               </div>
					            </div>
					         </article> -->


					         <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
					            <div class="timeline-entry-inner">
					               <div class="timeline-icon color-none">
					               </div>
					            </div>
					         </article>
					      </div>
					   </div>
				   </div>
				</div>
			</section>

			<section class="colorlib-work" data-section="work">
				<div class="colorlib-narrow-content">
					<div class="row" id="portfolio">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Mon travail</span>
							<h2 class="colorlib-heading animate-box">Travaux récent</h2>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="project" style="background-image: url(static/images/img-1.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="https://colab.research.google.com/github/cerezamo/NLP_project_MHMP/blob/master/NLP_project_MHMP.ipynb" target="_blank">Natural Langage Processing</a></h3>
										<span>NLP : Classification du genre dans les discours politiques français</span>
										<p class ="blanchir" style="font-size: 0.75em;">
											Travaux réalisés avec Morgane Hoffman (en anglais).
											<ul class ="blanchir" style="font-size: 0.75em;">
												<li>Features engineering basé sur d'autres travaux</li>
												<li>Modèle baseline tuné obtenant 77.8% de bonnes prédictions et des marqueurs de genre</li>
												<li>Utilisation d'un BERT français (CamemBERT) donnant 83% de bonnes prédictions</li>
											</ul>
											<br>
										</p>
										<p class="icon mt-2">
											<span><a href="https://github.com/melchior-prugniaud/NLP-French-politician-gender-classification" target="_blank"><i class="icon-github"></i></a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="project" style="background-image: url(static/images/img-2.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="https://colab.research.google.com/github/pihk94/DeepLearning/blob/master/Cycle_GAN_Implementation.ipynb" target="_blank">Deep learning</a></h3>
										<span>DL : DCGAN et CycleGan</span>
										<p class ="blanchir" style="font-size: 0.75em;">
											Mise en place d'un DCGAN et d'un CycleGAN pour les jeux de données MNIST et USPS réalisé avec Keras et tensorflow. <br>
											Le but étant pour le DCGAN d'entrainer un générateur, initialisé avec un bruit blanc, à recopier le style du dataset MNIST pour créer des digits.
											Pour le CycleGAN, il s'agit d'une "image-to-image translation" du MNIST vers le USPS réalisé à l'aide d'une architecture simplifié du CycleGan.
										</p>
										 <br>
										<p class="icon mt-2">
											<span><a href="https://github.com/melchior-prugniaud/DL-DCGAN-CYCLEGAN" target="_blank"><i class="icon-github"></i></a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInTop">
							<div class="project" style="background-image: url(static/images/img-3.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="https://coronarecap.herokuapp.com/" target="_blank">Dashboard</a></h3>
										<span>Dashboard : Covid-19</span>
										<p class ="blanchir" style="font-size: 0.75em;">
											Projet réalisé avec d'autres élèves de l'ENSAE (en anglais). <br>
											Création d'une multi-app Dash mis à jour automatiquement permettant d'afficher plusieurs aspect de l'évolution du virus : 
											<ul class ="blanchir" style="font-size: 0.75em;">
												<li>
													Evolution globale
												</li>
												<li>
													Simulation à l'aide du modèle SEIR
												</li>
												<li>
													Divers comparatifs (maladies, finance, internet)
												</li>
											</ul>
										</p>
										<p class="icon">
											<span><a href="https://github.com/melchior-prugniaud/CoronaRecap" target="_blank"><i class="icon-github"></i></a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInBottom">
							<div class="project" style="background-image: url(static/images/img-4.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Machine learning</a></h3>
										<span>Modélisation de match de foot</span>
										<p class ="blanchir" style="font-size: 0.75em;">
											Modélisation des résultats des matchs de première ligue anglaise à l'aide d'un XGBOOST et de création de features. 
											Utilisation du critère de Kelly pour tester les possibles gains sur Février et Mars 2020.
											
										</p>
										<p class="icon"><p class="icon">
											<span><a href="https://github.com/melchior-prugniaud/EPL-Pred" target="_blank"><i class="icon-github"></i></a></span>
										</p>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="project" style="background-image: url(static/images/img-5.jpg);">
								<div class="desc">
									<div class="con">
										<h3><a href="work.html">Scraping & Analyse</a></h3>
										<span>Malt : Sraping des freelanceurs data scientist pour une analyse simple</span>
										<p class ="blanchir" style="font-size: 0.75em;">
											Simple démonstration permettant à la fois d'observer mes capacités de scraping sur un site où les informations sont relativement
											 simple à récupérer et analyse des différentes offres de la plateforme.
										</p>
										<p class="icon">
											<span><a href="https://github.com/melchior-prugniaud/EPL-Pred" target="_blank"><i class="icon-github"></i></a></span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box">
							<p><a href="https://github.com/melchior-prugniaud" target="_blank" class="btn btn-primary btn-lg btn-load-more">Voir plus <i class="icon-github"></i></a></p>
						</div>
					</div>
				</div>
			</section>

			<!-- <section class="colorlib-blog" data-section="blog">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Read</span>
							<h2 class="colorlib-heading">Recent Blog</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="blog-entry">
								<a href="blog.html" class="blog-img"><img src="images/blog-1.jpg" class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>
								<div class="desc">
									<span><small>April 14, 2018 </small> | <small> Web Design </small> | <small> <i class="icon-bubble3"></i> 4</small></span>
									<h3><a href="blog.html">Renovating National Gallery</a></h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInRight">
							<div class="blog-entry">
								<a href="blog.html" class="blog-img"><img src="images/blog-2.jpg" class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>
								<div class="desc">
									<span><small>April 14, 2018 </small> | <small> Web Design </small> | <small> <i class="icon-bubble3"></i> 4</small></span>
									<h3><a href="blog.html">Wordpress for a Beginner</a></h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="blog-entry">
								<a href="blog.html" class="blog-img"><img src="images/blog-3.jpg" class="img-responsive" alt="HTML5 Bootstrap Template by colorlib.com"></a>
								<div class="desc">
									<span><small>April 14, 2018 </small> | <small> Inspiration </small> | <small> <i class="icon-bubble3"></i> 4</small></span>
									<h3><a href="blog.html">Make website from scratch</a></h3>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box">
							<p><a href="#" class="btn btn-primary btn-lg btn-load-more">Load more <i class="icon-reload"></i></a></p>
						</div>
					</div>
				</div>
			</section> -->

			<section class="colorlib-contact" data-section="contact">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta">Me contacter</span>
							<h2 class="colorlib-heading">Contact</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-globe-outline"></i>
								</div>
								<div class="colorlib-text">
									<p><a href="mailto:melchior.prugniaud@gmail.com">melchior.prugniaud@gmail.com</a></p>
								</div>
							</div>

							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-map"></i>
								</div>
								<div class="colorlib-text">
									<p>48 avenue du général de Gaulle, 94160 Saint Mandé</p>
								</div>
							</div>

							<div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="colorlib-icon">
									<i class="icon-phone"></i>
								</div>
								<div class="colorlib-text">
									<p><a href="tel://">+33 6 15 49 24 51	</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-7 col-md-push-1">
							<div class="row">
								<div class="col-md-10 col-md-offset-1 col-md-pull-1 animate-box" data-animate-effect="fadeInRight">
									<form action="mailto:melchior.prugniaud@gmail.com">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Nom">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Email">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Sujet">
										</div>
										<div class="form-group">
											<textarea name="" id="message" cols="30" rows="7" class="form-control" placeholder="Message..."></textarea>
										</div>
										<div class="form-group">
											<input type="submit" class="btn btn-primary btn-send-message" value="Envoyer">
										</div>
									</form>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</section>

		</div><!-- end:colorlib-main -->
	</div><!-- end:container-wrap -->
	</div><!-- end:colorlib-page -->

	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="static/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="static/js/owl.carousel.min.js"></script>
	<!-- Counters -->
	<script src="static/js/jquery.countTo.js"></script>
	
	
	<!-- MAIN JS -->
	<script src="static/js/main.js"></script>

	</body>
</html>

